@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.checkbox-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.select_all_checkbox{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    width: 200px;
    height: 24px;
}

.checkbox img {
    box-sizing: border-box;
    width: 200px;
    height: 133.33px;
    border : 1px solid #BDBDBD;
}

.checkbox h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    width: 44px;
    height: 20px;
    margin-bottom: 4px;
}

.checkbox h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    width: 600px;
    height: 29px;
    margin: 4px 0px;
}

.checkbox h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
    width: 285px;
    height: 20px;
    margin: 4px 0px;
}

.checkbox h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FABC1D;
    width: 150px;
    height: 24px;
    margin: 4px 0px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
    padding: 34px 0;
}

.footer .totalprice{
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer .totalprice .totalstyle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    width: 94px;
}

.footer .totalprice .pricestyle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FABC1D;
    width: 306px;
}

