@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.invoice{
    margin: 0 60px;
    margin-top: 46px;
}

.invoice p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.invoice p a{
    color: #5B4947;
}

.invoice h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4F;
    width: 139px;
    height: 24px;
    margin: 32px 0;
}